* {
    box-sizing: border-box;
    font-family:'Big-Caslon';
}

html {
}

body {
    margin: 0;
    background-color: rgb(239, 239, 239);
    size: 1vh;
}

header {
    background-color: rgb(255, 255, 255);
    border: 1px transparent solid;
    margin: 0;
    text-align: center;
    font-size: 25px;
}
.header-text {
    color:rgb(111, 110, 110);
}
.evolution {
    color: rgb(33, 26, 26);
}

footer {
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 10px 50px;
    border: 1px transparent solid;
}
.vision {
    color: rgb(32, 109, 233);
}
footer > a {
    margin: 15px 50px;
}
        /*BUTTONS*/
header a {
    color: white;
    margin: 20px 0;
}
a > i {

}
a > i:hover {
    cursor: pointer;
}
.action-buttons a {
    /* background-color: rgb(65, 95, 243); */
    border-radius: 5px;
    margin: 30px 0;
    padding: 5px 18px;
}
.action-buttons a:hover {
    cursor: pointer;
}
.btn-group {
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
}
.btn-group > a {
    color: rgb(111, 110, 110);
    border: 1px solid rgb(111, 110, 110);
    border-radius: 1px;
    padding: 5px 5px;
}
.btn-group > a:hover {
    cursor: pointer;
}
.main-btn {
    background-color: rgb(32, 109, 233);
    padding: 100px 0;
}
.second-btn {
    background-color: rgb(111, 110, 110);
    padding: 10px 0;
}
.button {
    color: rgb(32, 109, 233);
}
.button:hover {
    cursor: pointer;
}

.menu {
    border: 10px transparent solid;
    padding: 1px 30px;
    display: flex;
    background-color: rgb(53, 56, 56);
    justify-content: space-between;
}
header > p {
    color:rgb(111, 110, 110);
}

    /*photos*/
.album {
    /* background-color: rgb(79, 82, 103); */
    margin: 50px 50px 50px 50px;
    display: flex;
    justify-content: center;
}
.container {
    display: flex;
}
.column {
    border: 30px solid transparent;
}
.col-md-4 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 5px;
    background-color: #fff;
    height: 350px;
    width: 400px;
}
.card-image {
    margin: 0;
    display: flex;
    justify-content: center;
    background-color: rgb(73, 79, 92);
    border-radius: 5px;
}
.card-body {
    margin: 0;
    text-align: center;
    margin: 10px 10px 10px 10px;
    font-size: 20px;
}
img {  
    width: 400px;
    height: 200px;
    border-radius: 5px;

}
small {
    color: rgb(111, 110, 110);
    display: flex;
    justify-content: flex-end;
}

.invisible {
    /* display: none; */
    color: #fff;
}